@import '_variables';

.gigantic-knight {
  width: 100%;
  height: 100vh;

  &__heading {
    @include font("heading");
    width: 75%;
    text-align: center;
    margin-top: $spacing-xl;
    margin-right: auto;
    margin-left: auto;
  }
  
  & .artboard {
    position: relative;
    width: $artboardWidth;
    height: $artboardHeight;
    margin-top: $spacing-lg;
    margin-right: auto;
    margin-left: auto;
    background-color: $color-grey-darker;

    & .knight,
    & .floor,
    & .sky {
      position: absolute;
    }

    @import '_floor';
    @import '_sky';

    & .knight {
      @include centerAbsolute();
      z-index: 999;
      width: 350px;
      height: 220px;
      transform: translate(-50%, -30%);
      border: 1px dashed red;

      & .helmet {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 140px;
        height: 155px;
        background-color: $color-steel-lighter;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;

        & .eyes {
          @include centerAbsolute();
          top: 55%;
          left: 40%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          height: 32px;
          width: 65%;
          border-radius: 20px;
          background-color: $color-black;

          & .eyeball {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $color-white;
            transform: translateX(-2px);
          }

          & .nosehole {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 40%;
            height: 54px;
            background-color: $color-black;

            & .corner {
              position: absolute;
              width: 12px;
              height: 12px;
              background-color: $color-black;

              &.left:after,
              &.right:after {
                @include centerAbsolute();
                content: '';
                width: 100%;
                height: 100%;
                background-color: $color-steel-lighter;
              }

              &.left {
                top: 0;
                left: -12px;
                
                &:after {
                  border-top-right-radius: 10px;
                }
              }

              &.right {
                top: 0;
                right: -12px;

                &:after {
                  border-top-left-radius: 10px;
                }
              }
            }
          }
        }
      }

      @import '_knight-shield';
    }
  }
}